.wrapper {
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.category-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.category-card-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}
