.card-container {
  background-color: var(--bg-light-secondary);
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px var(--shadow-primary);
  color: #000;
  height: 380px;
  width: 300px;
  transition: all 0.2s ease;
}

.card-container:hover {
  box-shadow: 7px 7px 15px 7px var(--shadow-secondary);
}

.card-image {
  width: 100%;
  height: 60%;
  background-color: var(--bg-light-secondary);
  border-radius: 10px 10px 0 0;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 10px;
  gap: 1.8rem;
}

.card-content-tag {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: end;
}

.card-content-tag span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.3rem;
  font-size: small;
  padding: 0 1rem;
  border-radius: 6px;
  background-color: var(--tag-primary);
  border: solid 1px var(--tag-border-primary);
  text-transform: capitalize;
}

.card-content-title {
  height: 70%;
  width: 100%;
  text-align: center;
  align-content: center;
}
