.ServicesDisplayCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25em;
  height: 30em;
  border-radius: 10px;
  background-color: #fff;
  color: black;
  box-shadow: 5px 5px 15px 5px var(--shadow-primary);
  padding: 1.5em;
}
.card-containerServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: #fff;
  color: black;
  box-shadow: black 0px 0px 10px;
}

.ColumnServices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ServicesCategoryIcon1,
.ServicesCategoryIcon2 {
  border: solid 1px #915a44;
  border-radius: 10px;
  font-size: small;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 13em;
  margin: 1em;
  display: flex;
}

.ServicesCategoryIcon1 {
  background-color: var(--tag-category);
  border: solid 1px var(--tag-border-category);
}

.ServicesCategoryIcon2 {
  background-color: var(--tag-type);
  border: solid 1px var(--tag-border-type);
}

.ServicesImg {
  height: 70%;
  max-width: 14em;
  border-radius: 4em;
}

.ServicesDetails {
  margin: -8em 1em 0 1em;
}

.ServicesTitle {
  margin-top: 0.75em;
  margin-bottom: 0.25em;
}

.service-card-link {
  text-decoration: none;
  text-align: justify;
}
