h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.services-details-wrapper {
  display: flex;
  flex-direction: row;
  margin: 2em auto;
  align-items: center;
  box-shadow: 5px 5px 15px 5px var(--shadow-primary);
  border-radius: 2em;
  gap: 2em;
  padding: 2rem;
  width: 70%;
}

.image {
  max-width: 20em;
  max-height: 15em;
  border-radius: 3em;
}

.informations {
  margin: 1.5em;
}

.category-container-services {
  display: flex;
  justify-content: end;
  gap: 1em;
  height: 2em;
}

.categorie-services {
  background-color: coral;
  width: 13em;
  border-radius: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.echange-services {
  background-color: chartreuse;
  width: 13em;
  border-radius: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
