@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: #9370db;
  padding: 10px;
}

nav img {
  height: 125px;
  margin-left: 10px;
  margin-right: 10px;
}

nav h1 {
  margin: 50px;
  font-family: "Montserrat", sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
}

nav ul li {
  margin-right: 10px;
}

nav ul li button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ffa07a;
  color: white;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center; /* Center align items */
  }

  nav img {
    height: 100px;
    margin: 10px 0;
  }

  nav h1 {
    margin: 20px 0;
    font-size: 24px;
    text-align: center; /* Center align text */
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    align-items: center; /* Center align items */
  }

  nav ul li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }

  nav ul li button {
    width: 100%;
  }
}
